body {
  font-family: Arial,Verdana,Helvetica;
  font-size: 14pt;
}

h1 {
  font-size: 22pt;
  font-weight: bold;
}

h2 { 
  padding-top: 20px;
  padding-bottom: 5px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #a0a0a0;
  color: #080808;
 }

h3 { 
  padding-top: 10px;
 }

h4 {
	padding-top: 10px;
}

pre {
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #eeeeee;
  border-style: solid;
  border-width: 1px;
  border-color: #a0a0a0;
  font-size: 9pt;
}

td, th { 
  padding: 6px;
}

div.table { 
  font-size: 10pt;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 10px;
}

table { 
  font-size: 10pt;
}

code { 
       font-size: 10pt;
       }